#Additional Settings for Local Environment:

DEBUG = False

#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
#        'NAME': 'subscripter',                      # Or path to database file if using sqlite3.
#        'USER': 'dev',                      # Not used with sqlite3.
#        'PASSWORD': 'testtest',                  # Not used with sqlite3.
#        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
#        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
#    }
#}
